@define-color bg #1D201E;
@define-color fg #fdfdfb;
@define-color gray1 #89ae92;
@define-color gray2 #4f5451;
@define-color gray3 #88c2ce;
@define-color gray4 #dacf6d;
@define-color gray5 #b3b0b5;
@define-color fg_bright #fdfdfb;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}